    <a href="#" (click)="expandAll()" rel="noopener noreferrer"><app-card>Expand All</app-card></a>
    <a href="#" (click)="fevAll()" rel="noopener noreferrer"><app-card>Favorite All</app-card></a>
    
    <app-blog-post-tile 
    *ngFor="let post of blogPost[currPage]" 
    [post]="post" #tile>
    </app-blog-post-tile>
    <!-- <app-blog-post-tile [post]="blogPost[0][0]" #tile></app-blog-post-tile> -->
    <app-paginator [noOfPages]="blogPost.length" (pageNoClicked)="updatePage($event)"></app-paginator>
    <!-- <app-card>
        <p>Header</p>
        <div>Division</div>
    </app-card> -->